.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h1 {
    margin-left: 40px;
}

.sidenav li,
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 1.1em;
    color: #818181;
    transition: 0.15s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidenav li:hover,
.sidenav a:hover {
    color: #a6a2a2;
}